<div class="post-form">
  <h6>Leave your reply</h6>
  <p class="text-gray-light">Your email address will not be published. Required fields are marked *</p>

  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-label form-label-outside" for="name">Your name<span class="text-primary">*</span></label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Your name">
        <span class="form-validation"></span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="form-label form-label-outside" for="email">Your email<span class="text-primary">*</span></label>
        <input
          class="form-control form-control-has-validation form-control-last-child"
          type="text"
          id="email"
          formControlName="email"
          placeholder="Your email">
        <span class="form-validation"></span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label form-label-outside" for="message">Your comment<span class="text-primary">*</span></label>
        <textarea
          class="form-control form-control-has-validation form-control-last-child"
          id="message"
          formControlName="message"
          placeholder="Your message"
          cols="30" rows="3"></textarea>
        <span class="form-validation"></span>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" type="submit">Submit a comment</button>
    </div>
  </form>
</div>
