<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li class="active"><a href="about.html">About us</a></li>
    </ul>
  </div>
</div>

<!-- About us -->
<app-about-us></app-about-us>

<!-- Medical Team -->
<section class="section-medicalteam">
  <div class="container">
    <h3>Medical Team</h3>
    <div class="row">
      <div class="col-sm-3">
        <a href="#"><img src="assets/img/elements-10-270x270.jpg" alt=""></a>
        <a href="#"><h4>Dr. Mark Hoffman</h4></a>
        <h6 class="text-extra-bold">Dentist</h6>
        <p>Our clinic's Chief Medical Officer, Dr. Mark Hoffman has been working in this field of
          medical specialization since 2002. After founding his own clinic in 2010 he brought all
          his experience here. Most of all he loves to see you walk out with a bright wide smile!</p>
      </div>
      <div class="col-sm-3">
        <a href="#"><img src="assets/img/elements-11-270x270.jpg" alt=""></a>
        <a href="#"><h4>Leslie Gross</h4></a>
        <h6 class="text-extra-bold">Dental Hygienist</h6>
        <p>Leslie is one of the most experienced dental hygienists in the county. She works at our dental
          clinic since day 1. No one contributed more to our customer's satisfaction and concerns resolving than she.</p>
      </div>
      <div class="col-sm-3">
        <a href="#"><img src="assets/img/elements-14-270x270.jpg" alt=""></a>
        <a href="#"><h4>Dana Sims</h4></a>
        <h6 class="text-extra-bold">Practical Nurse</h6>
        <p>Dana previously served as a senior practical nurse at the Mayo clinic. She obtained her license by working hard
          after graduating from a medical college with cum laude honors. She truly represents all the care that our dental
          office is surrounded with and our patients feel that every time.</p>
      </div>
      <div class="col-sm-3">
        <a href="#"><img src="assets/img/elements-15-270x270.jpg" alt=""></a>
        <a href="#"><h4>Kimberly Barker</h4></a>
        <h6 class="text-extra-bold">Patient Services Manager</h6>
        <p>Kimberly worked for numerous dental offices in the US and Canada during her 20 years long career. And while she
          will not drill your teeth personally, she will make sure that everything is running smoothly before, during and
          after your appointment!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Why choose our clinic -->
<app-shared-why-choose-our-clinic></app-shared-why-choose-our-clinic>

<!-- Contact us -->
<section class="section-contactus">
  <div class="container">
    <h3>Contact us</h3>
    <form action="">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label form-label-outside" for="contact-name">Your name<span class="text-primary">*</span></label>
          <input id="contact-name" class="form-control form-control-has-validation form-control-last-child"
                 name="name" data-contraints="@Required" type="text" placeholder="Your name">
          <span class="form-validation"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label form-label-outside" for="contact-email">Your email<span class="text-primary">*</span></label>
          <input id="contact-email" class="form-control form-control-has-validation form-control-last-child"
                 name="email" data-contraints="@Required" type="email" placeholder="mail@mail.com">
          <span class="form-validation"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label form-label-outside" for="subject">Subject</label>
          <input id="subject" class="form-control form-control-has-validation form-control-last-child"
                 name="subject" data-contraints="@Required" type="text" placeholder="Subject">
          <span class="form-validation"></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="form-label form-label-outside" for="contact-message">Your message<span class="text-primary">*</span></label>
          <input id="contact-message" class="form-control form-control-has-validation form-control-last-child textarea"
                 name="message" data-contraints="@Required" type="textarea" placeholder="Your message">
          <span class="form-validation"></span>
        </div>
      </div>
    </form>
    <div class="middle-button">
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  </div>
</section>
