<!-- Breadcrumbs -->
<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a routerLink="/">Services</a></li>
      <li class="active"><a routerLink="/services">General and preventive care</a></li>
    </ul>
  </div>
</div>

<!-- Single service -->
<section class="single-service">
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h3>General and preventive care</h3>
      <h4>The modern pace of our urban life hits hard on our schedule. So it may easily bring undesirable consequences
        to the overall state of your oral health.</h4>
      <p>Thus it is essential to take care of the oral hygiene. Of course, it must be done on par with doing regular
        general and preventive checkups with a dentist.</p>
      <p>Such regular teeth and gums examinations will ensure that your health is in no danger. It will confirm that every
        dental concern or issue is detected and fixed by our doctors at once.</p>
      <p>We have a long list of regular customers with that in mind, who visit our clinic on a quarterly basis…</p>
    </div>
    <img class="img-single" src="assets/img/services-01-1170x550.jpg" alt="">
    <h4>Call the AlexDentist, your dental healthcare clinic:</h4>
    <div class="unit">
      <div class="unit-left col-sm-offset-4">
        <div class="icon fa fa-phone icon-circle text-primary left"></div>
      </div>
      <div class="unit-body text-extra-bold">555–123–2323</div>
    </div>
    <h4>Service Cost: <span class="h3"> $99.00</span></h4>
    <p>Duration: <span class="text-extra-bold">1h 20m</span></p>
  </div>
</section>

<!-- How we can help -->
<section class="section-wecanhelp">
  <div class="container">
    <div class="col-sm-10">
      <h3>Please use this schedule for</h3>
      <h5>more information about our dental services or booking an appointment with us.</h5>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary text-extra-bold">Book an Appointment</button>
    </div>
  </div>
</section>

<!-- Our patients -->
<app-home-testimonials></app-home-testimonials>

<!-- Our Services -->
<app-home-our-services></app-home-our-services>
