<!-- Breadcrumbs -->
<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a href="index.html">Services</a></li>
      <li class="active"><a href="services.html">General and preventive care</a></li>
    </ul>
  </div>
</div>

<!-- Single service -->
<section class="single-service">
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h3>General and preventive care</h3>
      <h4>The modern pace of our urban life hits hard on our schedule. So it may easily bring undesirable consequences
        to the overall state of your oral health.</h4>
      <p>Thus it is essential to take care of the oral hygiene. Of course, it must be done on par with doing regular
        general and preventive checkups with a dentist.</p>
      <p>Such regular teeth and gums examinations will ensure that your health is in no danger. It will confirm that every
        dental concern or issue is detected and fixed by our doctors at once.</p>
      <p>We have a long list of regular customers with that in mind, who visit our clinic on a quarterly basis…</p>
    </div>
    <img class="img-single" src="assets/img/services-01-1170x550.jpg" alt="">
    <h4>Call the AlexDentist, your dental healthcare clinic:</h4>
    <div class="unit">
      <div class="unit-left col-sm-offset-4">
        <div class="icon fa fa-phone icon-circle text-primary left"></div>
      </div>
      <div class="unit-body text-extra-bold">555–123–2323</div>
    </div>
    <h4>Service Cost: <span class="h3"> $99.00</span></h4>
    <p>Duration: <span class="text-extra-bold">1h 20m</span></p>
  </div>
</section>

<!-- How we can help -->
<section class="section-wecanhelp">
  <div class="container">
    <div class="col-sm-10">
      <h3>Please use this schedule for</h3>
      <h5>more information about our dental services or booking an appointment with us.</h5>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary text-extra-bold">Book an Appointment</button>
    </div>
  </div>
</section>

<!-- Our patients -->
<section class="section-ourpatients">
  <div class="container">
    <h3>What our patients say</h3>
    <div class="col-sm-4">
      <blockquote class="quote marks">
        <img class="img-responsive img-circle" src="assets/img/testimonials-01-116x116.jpg" alt="">
        <p>
          <q>I urgently required dental help last 4th of July.
            And despite all other clinics being closed, BeDentist took my appointment!
          </q>
        </p>
        <div>
          <cite class="text-extra-bold text-gray-light">
            Herbert Wallace
          </cite>
          <time class="text-gray-lighter text-italic">
            – May 10, 2016
          </time>
        </div>
      </blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote class="quote marks">
        <img class="img-responsive img-circle" src="assets/img/testimonials-02-116x116.jpg" alt="">
        <p>
          <q>Comparing teeth whitening prices here and elsewhere,
            I picked BeDentist. The result was beyond my expectations!
          </q>
        </p>
        <div>
          <cite class="text-extra-bold text-gray-light">
            Gary Growles
          </cite>
          <time class="text-gray-lighter text-italic">
            – May 10, 2016
          </time>
        </div>
      </blockquote>
    </div>
    <div class="col-sm-4">
      <blockquote class="quote marks">
        <img class="img-responsive img-circle" src="assets/img/testimonials-03-116x116.jpg" alt="">
        <p>
          <q>Taking my kids to a dentist has never been easier.
            They just loved the welcoming and warm atmosphere in there!
          </q>
        </p>
        <div>
          <cite class="text-extra-bold text-gray-light">
            Daniela Robbery
          </cite>
          <time class="text-gray-lighter text-italic">
            – May 10, 2016
          </time>
        </div>
      </blockquote>
    </div>
  </div>
</section>

<!-- Our Services -->
<section class="section-ourservices">
  <div class="container">
    <h3>Our services</h3>
    <div class="row">
      <div class="col-sm-3  col-xs-12">
        <a href="#"><img src="assets/img/services-04-270x270.jpg" alt=""></a>
        <a href="#"><h4>General and preventive care</h4></a>
      </div>
      <div class="col-sm-3  col-xs-12">
        <a href="#"><img src="assets/img/services-5-270x270.jpg" alt=""></a>
        <a href="#"><h4>Cosmetic solutions</h4></a>
      </div>
      <div class="col-sm-3  col-xs-12">
        <a href="#"><img src="assets/img/services-6-270x270.jpg" alt=""></a>
        <a href="#"><h4>Restorative solutions</h4></a>
      </div>
      <div class="col-sm-3  col-xs-12">
        <a href="#"><img src="assets/imgservices-7-270x270.jpg" alt=""></a>
        <a href="#"><h4>Additional treatments</h4></a>
      </div>
    </div>
    <div class="middle-button">
      <a class="btn btn-primary" routerLink="/services">See all services</a>
    </div>
  </div>
</section>
