<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-brand">
        <div class="brand">
          <a class="brand-name" href="/">
            <span class="text-primary">Alex</span><span class="text-uppercase text-white">Dentist</span>
          </a>
        </div>
        <p>{{footerDescription}}</p>
      </div>
      <div class="col-sm-3 footer-services">
        <p class="text-white text-extra-bold">{{footerOurServices}}</p>
        <ul>
          <ng-container *ngFor="let item of footerListServices">
            <li><a href="{{item.link}}">{{item.name}}</a></li>
          </ng-container>
        </ul>
      </div>
      <div class="col-sm-3 footer-openhours">
        <p class="text-white text-extra-bold">{{footerOpeningHoursHeader}}</p>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-clock-o icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <ng-container *ngFor="let item of footerOpeningHoursList">
                <p class="text-gray-lighter">{{item}}</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 footer-contact">
        <p class="text-white text-extra-bold">Contact info</p>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-phone icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <ng-container *ngFor="let item of footerPhoneNumbers">
                <p class="text-gray-lighter">{{item}}</p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-envelope icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">{{footerEmail}}</p>
            </div>
          </div>
        </div>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-map-marker icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">{{footerAddress}}<br> {{footerZipCode}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer copyright -->
<app-footer-copyright></app-footer-copyright>
