<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-brand">
        <div class="brand">
          <a class="brand-name" href="/">
            <span class="text-primary">Alex</span><span class="text-uppercase text-white">Dentist</span>
          </a>
        </div>
        <p>{{footerDescription}}</p>
      </div>
      <div class="col-sm-3 footer-services">
        <p class="text-white text-extra-bold">{{footerOurServices}}</p>
        <ul>
          <ng-container *ngFor="let item of footerListServices">
            <li><a href="{{item.link}}">{{item.name}}</a></li>
          </ng-container>
        </ul>
      </div>
      <div class="col-sm-3 footer-openhours">
        <p class="text-white text-extra-bold">{{footerOpeningHours}}</p>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-clock-o icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">Monday–Friday:9am–6pm <br>
                Saturday: 10am–4pm <br>
                Sunday: 10am–1pm
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 footer-contact">
        <p class="text-white text-extra-bold">Contact info</p>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-phone icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">555–123–2323; <br> 555–123–2323</p>
            </div>
          </div>
        </div>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-envelope icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">bedentist@demolink.org</p>
            </div>
          </div>
        </div>
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-map-marker icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="italic">
              <p class="text-gray-lighter">22 St. Black Road Orlando,PL<br> 34587</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer copyright -->
<app-footer-copyright></app-footer-copyright>
