<app-header></app-header>

<!-- Plain devider -->
<hr class="devider">

<!-- Menu -->
<div id="mmenu" class="container-fluid ">
  <nav class="container navbar navbar-default ">
    <ul class="nav navbar-nav">
      <li class="nav-current"><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="team.html">Team <span class="caret"></span></a></li>
      <li><a href="services.html">Services <span class="caret"></span></a></li>
      <li><a href="contacts.html">Contacts</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="general-and-preventative-care.html">Serve 1</a></li>
      <li><a href="team-member.html">Team 1</a></li>
      <li><a href="post.html">Post 1</a></li>
      <li><a href="404.html">404</a></li>
    </ul>
  </nav>
</div>

<!-- Carousel -->
<app-home-slider></app-home-slider>

<!-- Welcome words -->
<app-home-welcome-words></app-home-welcome-words>

<!-- Why choose our clinic -->
<app-home-why-choose-our-clinic></app-home-why-choose-our-clinic>

<!-- Our Services -->
<app-home-our-services></app-home-our-services>

<!-- Our patients -->
<app-home-testimonials></app-home-testimonials>

<!-- How we can help -->
<app-home-how-we-can-help></app-home-how-we-can-help>

<!-- Recent news -->
<app-home-recent-news></app-home-recent-news>

<!-- Page footer -->
<app-footer></app-footer>
