<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li class="active"><a routerLink="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<!-- Blog -->
<section class="section-blog">
  <div class="container">

    <!-- Left block -->
    <div class="col-sm-8">
      <ng-container *ngFor="let item of blogArticles">
        <div class="row">
          <h3 class="text-bold"><a routerLink="1">{{item.title}}</a></h3>
          <div class="author">
            <ul>
              <li>by <span class="text-extra-bold text-gray-light"> {{item.author}}</span></li>
              <li><time class="italic text-gray-lighter post-meta-time">{{item.date}}</time></li>
              <li><a href="">Dental</a></li>
            </ul>
          </div>
          <img src="{{item.imgPath}}" alt="" width="98%" height="98%">
          <p>{{item.shortDescription}}</p>
          <div class="post-bottom">
            <div class="col-sm-3">
              <a class="btn btn-primary" >Read more</a>
            </div>
            <div class="col-sm-offset-6 col-sm-3 blog-comment italic">
              <span class="fa fa-comment"></span>
              <span>{{item.commentsNumber}} comments</span>
            </div>
          </div>
        </div>
        <hr>
      </ng-container>

      <div class="paginate">
        <ul>
          <li><span class="active">1</span></li>
          <li><a href=""><span>2</span></a></li>
          <li><a href=""><span>3</span></a></li>
          <li><a href=""><span>4</span></a></li>
          <li><a href=""><span>5</span></a></li>
          <li><span>...</span></li>
          <li><a href=""><span>125</span></a></li>
          <li><a href=""s><span class="active">Next</span><span class="text-extra-bold"> ></span></a></li>
        </ul>
      </div>
    </div>

    <!-- Right block -->
    <div class="col-sm-4">
      <!-- Right blog panel -->
      <app-blog-right-panel></app-blog-right-panel>
    </div>
  </div>
</section>
