<!-- Blog -->
<section class="section-blog">
  <div class="container">
    <!--<h3>{{blogTitle}}</h3>-->

    <!-- Left block -->
    <div class="col-sm-8">
      <div class="col-sm-12">
        <h3 class="text-bold"><a href="#">Avoiding bad breath</a></h3>
        <div class="author">
          <ul>
            <li>by <span class="text-extra-bold text-gray-light"> John Doe</span></li>
            <li><time class="italic text-gray-lighter post-meta-time">May 10, 2016</time></li>
            <li><a href="">Dental</a></li>
          </ul>
        </div>
        <img src="assets/img/categories-list-01-770x562.jpg" alt="" width="100%">
        <p>Americans oftentimes ignore some basic, daily routines of oral hygiene, that need to be upheld.
          Practicing healthy habits like these ones will most surely help you avoid such nasty things as a morning
          bad breath or teeth grinding.</p>
        <div class="post-bottom">
          <div class="col-sm-3">
            <a class="btn btn-primary" >Read more</a>
          </div>
          <div class="col-sm-offset-6 col-sm-3 blog-comment italic">
            <span class="fa fa-comment"></span>
            <span>31 comment</span>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-sm-12">
        <h4><a href="#">Avoiding bad breath</a></h4>
        <div class="author">
          <ul>
            <li>by <span class="text-extra-bold text-gray-light"> John Doe</span></li>
            <li><time class="italic text-gray-lighter post-meta-time">May 10, 2016</time></li>
            <li><a href="">Dental</a></li>
          </ul>
        </div>
        <img src="assets/img/categories-list-03-770x562.jpg" alt="" width="100%">
        <p>Bad breath is a deal breaker both in business and in personal life of ours. And while breath fresheners
          or candies hide it, they do not cure the very problem at hand… So, most importantly, the bad breath is
          caused by a lack of oral…</p>
        <div class="post-bottom">
          <div class="col-sm-3">
            <a class="btn btn-primary" href="">Read more</a>
          </div>
          <div class="col-sm-offset-6 col-sm-3 blog-comment italic">
            <span class="fa fa-comment"></span>
            <span>31 comment</span>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-sm-12">
        <h4><a href="#">Avoiding bad breath</a></h4>
        <div class="author">
          <ul>
            <li>by <span class="text-extra-bold text-gray-light"> John Doe</span></li>
            <li><time class="italic text-gray-lighter post-meta-time">May 10, 2016</time></li>
            <li><a href="">Dental</a></li>
          </ul>
        </div>
        <img src="assets/img/categories-list-04-770x562.jpg" alt="" width="100%">
        <p>Bad breath is a deal breaker both in business and in personal life of ours. And while breath fresheners
          or candies hide it, they do not cure the very problem at hand… So, most importantly, the bad breath is
          caused by a lack of oral…</p>
        <div class="post-bottom">
          <div class="col-sm-3">
            <a class="btn btn-primary" href="">Read more</a>
          </div>
          <div class="col-sm-offset-6 col-sm-3 blog-comment italic">
            <span class="fa fa-comment"></span>
            <span>31 comment</span>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-sm-12">
        <h4><a href="#">Avoiding bad breath</a></h4>
        <div class="author">
          <ul>
            <li>by <span class="text-extra-bold text-gray-light"> John Doe</span></li>
            <li><time class="italic text-gray-lighter post-meta-time">May 10, 2016</time></li>
            <li><a href="">Dental</a></li>
          </ul>
        </div>
        <img src="assets/img/categories-list-05-770x562.jpg" alt="" width="100%">
        <p>Bad breath is a deal breaker both in business and in personal life of ours. And while breath fresheners
          or candies hide it, they do not cure the very problem at hand… So, most importantly, the bad breath is
          caused by a lack of oral…</p>
        <div class="post-bottom">
          <div class="col-sm-3">
            <a class="btn btn-primary" href="">Read more</a>
          </div>
          <div class="col-sm-offset-6 col-sm-3 blog-comment italic">
            <span class="fa fa-comment"></span>
            <span>31 comment</span>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-sm-12">
        <div class="paginate">
          <ul>
            <li><span class="active">1</span></li>
            <li><a href=""><span>2</span></a></li>
            <li><a href=""><span>3</span></a></li>
            <li><a href=""><span>4</span></a></li>
            <li><a href=""><span>5</span></a></li>
            <li><span>...</span></li>
            <li><a href=""><span>125</span></a></li>
            <li><a href=""><span class="active">Next</span><span class="text-extra-bold"> ></span></a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Right block -->
    <div class="col-sm-4">
      <h6 class="text-gray-light text-extra-bold">Search</h6>
      <div class="form-group">
        <input
          class="form-control form-control-last-child"
          type="text" placeholder="Enter a keyword">
        <button class="btn-sm btn-primary"><span class="fa fa-search"></span></button>
      </div>
      <div class="blog-subscribe">
        <h6 class="text-white">Social media discounts</h6>
        <p class="text-white">Look out for our new special offers and discounts across our social platforms!</p>
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
          <li><a href="#" class="icon fa fa-youtube"></a></li>
          <li><a href="#" class="icon fa fa-rss"></a></li>
        </ul>
        <hr>
        <h6 class="text-white">Subscribe to AlexDentist</h6>
        <p class="text-white">Get both our special offers and our oral health maintenance tips directly to your inbox!</p>
        <div class="form-group">
          <input
            class="form-control form-control-last-child"
            type="text" placeholder="Enter a E-mail">
          <button class="btn-lg get-button text-white">Get</button>
        </div>
      </div>

      <div class="recent-posts">
        <h6 class="text-extra-bold text-gray-light">Recent posts</h6>
        <ul>
          <li><time class="text-gray-lighter italic">May 10, 2016 –  </time>
            <a href="#">Things to do to overcome your dentist fears</a>
          </li>
          <li><time class="text-gray-lighter italic">April 27, 2016 –  </time>
            <a href="#">Avoiding bad breath</a>
          </li>
          <li><time class="text-gray-lighter italic">April 17, 2016 –  </time>
            <a href="#">First signs of Gum Disease</a>
          </li>
          <li><time class="text-gray-lighter italic">April 29, 2016 –  </time>
            <a href="#">Taking kids to a dentist: how to</a>
          </li>
        </ul>
      </div>

      <div class="categories">
        <h6 class="text-extra-bold text-gray-light">Categories</h6>
        <ul>
          <li><a href="#">Preventive Care Tips</a></li>
          <li><a href="#">Oral Diseases Signs</a></li>
          <li><a href="#">Dentistry Treatments</a></li>
          <li><a href="#">Oral Health Researches</a></li>
          <li><a href="#">Cosmetic Dentistry</a></li>
          <li><a href="#">Children`s Dentistry</a></li>
        </ul>
      </div>

      <hr>

      <div class="categories">
        <h6 class="text-extra-bold text-gray-light">Archives</h6>
        <ul>
          <li><a href="#">May 2015</a></li>
          <li><a href="#">April 2015</a></li>
          <li><a href="#">January 2015</a></li>
          <li><a href="#">November 2014</a></li>
        </ul>
      </div>

      <hr>

    </div>
  </div>
</section>
