<app-blue-stripe></app-blue-stripe>
<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3  col-xs-12">
        <div class="brand">
          <a class="brand-name" href="/">
            <span class="text-primary">Alex</span><span class="text-uppercase text-gray-light">Dentist</span>
          </a>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-phone icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="text-extra-bold text-gray-light">Call Today:</div>
            <div class="italic">
              <a class="text-gray-lighter">555–123–2323;</a>
              <a class="text-gray-lighter">555–123–2323</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="unit">
          <div class="unit-left">
            <div class="icon fa fa-clock-o icon-circle text-primary left"></div>
          </div>
          <div class="unit-body">
            <div class="text-extra-bold text-gray-light">Opening Hours:</div>
            <div class="italic text-gray-lighter">Mon–Fri: 9am–6pm; Sun:8am–1pm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
