<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li class="active"><a routerLink="/blog">Blog</a></li>
      <li class="active"><a routerLink="/blog">Avoiding bad breath</a></li>
    </ul>
  </div>
</div>

<!-- Blog -->
<section class="section-blog">
  <div class="container">

    <!-- Left block -->
    <div class="col-sm-8">
      <div class="row blog-body">
        <h3>{{articleTitle}}</h3>
        <div class="author">
          <ul>
            <li>by <span class="text-extra-bold text-gray-light"> {{articleAuthor}}</span></li>
            <li><time class="italic text-gray-lighter post-meta-time">{{articleDate}}</time></li>
            <li><a>{{articleCategory}}</a></li>
          </ul>
        </div>
        <div class="article-content" [innerHtml]="articleContent">
        </div>
      </div>
      <div class="post-bottom row">
        <div class="col-sm-5">
          <div class="tags">
            <ul class="tag">
              <li class="italic">Tags</li>
              <ng-container *ngFor="let item of articleTags">
                <li class="italic"><a>{{item}}</a></li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-sm-offset-4 col-sm-3 post-comment italic">
          <span class="fa fa-comment"></span>
          <span>{{articleCommentCount}} comments</span>
        </div>
      </div>
      <div class="row">
        <ul class="share-buttons">
          <ng-container *ngFor="let dentistIcon of dentistSocialIcons">
            <li><a href="{{dentistIcon.link}}" class="icon fa {{dentistIcon.icon}}"></a></li>
          </ng-container>
        </ul>
      </div>
      <app-post-author></app-post-author>
      <hr>
      <div class="post-feedback">
        <p class="text-extra-bold">2 Comments</p>
        <app-blog-post-comment></app-blog-post-comment>
        <app-blog-post-leave-comment></app-blog-post-leave-comment>
      </div>

    </div>

    <!-- Right block -->
    <div class="col-sm-4">
      <!-- Right blog panel -->
      <app-blog-right-panel></app-blog-right-panel>
    </div>
  </div>
</section>
