<div class="div">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/img/slider-01.jpg" alt="Chania">
        <div class="carousel-caption caption-first">
          <h3>Dr.<span class="text-extra-bold">Mark Hoffman</span></h3>
          <p>Dr. Mark Hoffman's dental clinic welcomes you!</p>
          <button class="btn btn-primary text-extra-bold">Book an Appointment</button>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/slider-02.jpg" alt="Chania">
        <div class="carousel-caption caption-second">
          <h4>We’re always available for customers with emergent dental problems.</h4>
          <p>You can easily reach us 24/7 via the phone number below:</p>
          <div class="unit">
            <div class="unit-left">
              <div class="icon fa fa-phone icon-circle text-primary left"></div>
            </div>
            <div class="unit-body text-extra-bold">555–123–2323</div>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/img/slider-03.jpg" alt="Flower">
        <div class="carousel-caption caption-third">
          <h1 class="text-extra-bold">Appointments</h1>
          <h3>Booking an appointment at our dental clinic is as easy as it gets...</h3>
          <p> You will be able to schedule a convenient time for your meeting with our dentists with just 2 clicks!</p>
          <button class="btn btn-primary text-extra-bold">Book an Appointment</button>
        </div>
      </div>
    </div>
  </div>
</div>
