<div class="breadcrumb">
  <div class="container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li class="active"><a routerLink="/services">Services</a></li>
    </ul>
  </div>
</div>
<!-- Detailed Services -->
<section class="section-services">
  <div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h3>Our dental clinic’s team provides many kinds of dentistry services such as:</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="assets/img/services-04-270x270.jpg" alt="">
        <h4>
          <a href="#">General and preventive care</a>
        </h4>
        <p>
          A wide range for a preventive and general dentistry care. We put focus on examining root canals
          and the overview state of teeth’s health.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-5-270x270.jpg" alt="">
        <h4>
          <a href="#">Cosmetic solutions</a>
        </h4>
        <p>
          Our range of cosmetic dentistry solutions includes such vitals as teeth whitening as well as a laser dentistry.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-6-270x270.jpg" alt="">
        <h4>
          <a href="#">Restorative solutions</a>
        </h4>
        <p>
          Restoring teeth in bad condition is what we specialize in. It may include laser restoration and Invisalign service.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-7-270x270.jpg" alt="">
        <h4>
          <a href="#">Additional treatments</a>
        </h4>
        <p>
          People’s dentistry issues may vary. That’s why we have a lot of non-conventional treatments, including X-ray scanning.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
    </div>

    <hr class="devider">

    <div class="row">
      <div class="col-sm-3">
        <img src="assets/img/services-20-270x270.jpg" alt="">
        <h4>
          <a href="#">Orthodontics</a>
        </h4>
        <p>
          Diagnodent is an important part of our Orthodontics services. We also have a diverse choice of braces and
          brackets for teeth straightening.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-21-270x270.jpg" alt="">
        <h4>
          <a href="#">Dentures & denture repair</a>
        </h4>
        <p>
          If you need a new denture or if you’re in need of fixing your old one, broken denture – we’re at your service!
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-22-270x270.jpg" alt="">
        <h4>
          <a href="#">Diagnostics</a>
        </h4>
        <p>
          Teeth cleanings, Fluoride and Sealant are just a few of our advanced diagnostics and preventive dentistry services!
        </p>
      </div>
      <div class="col-sm-3">
        <img src="assets/img/services-23-270x270.jpg" alt="">
        <h4>
          <a href="#">Pediatric dentistry</a>
        </h4>
        <p>
          It’s crucial to check Children’s Oral Health even more often, than the adults’ teeth. That is due to baby teeth,
          and we know how to fix that!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" href="">Read more</a>
      </div>
    </div>


  </div>
</section>
