<!-- Carousel -->
<app-home-slider></app-home-slider>

<!-- Welcome words -->
<app-home-welcome-words></app-home-welcome-words>

<!-- Why choose our clinic -->
<app-shared-why-choose-our-clinic></app-shared-why-choose-our-clinic>

<!-- Our Services -->
<app-home-our-services></app-home-our-services>

<!-- Our patients -->
<app-home-testimonials></app-home-testimonials>

<!-- How we can help -->
<app-home-how-we-can-help></app-home-how-we-can-help>

<!-- Recent news -->
<app-home-recent-news></app-home-recent-news>
