<section class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>© 2018 <span class="text-primary">Alex</span>DENTIST. Privacy Policy</p>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-google-plus"></a></li>
          <li><a href="#" class="icon fa fa-youtube"></a></li>
          <li><a href="#" class="icon fa fa-rss"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
